.App{
  width: 70% !important;
  margin: auto;
}
.app-nav-bar{
  width: 70% !important;
  margin: 1% auto;
  border-radius: 15px;
  text-align: justify !important;
}
.app-nav-bar span{
  font-size: 2vw !important;
  padding: 15px;
  margin: auto;

}