@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Ultra&display=swap");
.home {
  padding: 5px;
  width: 100%;
  margin: 15vw auto;
  text-align: center;
  border-radius: 20px;
}

.home a {
  text-decoration: none !important;
  font-size: 3.2vw !important;
  padding: 5px;
  transition: 0.3s color;
}
.home a:hover {
  color: rgb(68, 63, 63) !important;
}
.countries-link {
  font-family: "Homemade Apple", cursive;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #8f8f8f;
}
.slot-machine-link {
  font-family: "Ultra", serif;
  color: rgb(224, 0, 0);
  text-shadow: 3px 3px #000000;
}
.home * {
  padding: 10px;
}

.home-container {
  margin: 10% auto;
}

/* Big tablets to 1200px*/
/* @media only screen and (max-width: 1200px) {
} */

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .home {
    margin: 30vw auto;
  }

  .home a {
    font-size: 4vw !important;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .home {
    margin: 30vw auto;
  }

  .home a {
    font-size: 8.1vw !important;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .home {
    margin: 30vw auto;
  }

  .home a {
    font-size: 8.1vw !important;
  }
}
