.slot-machine-container {
  padding: 50px;
  width: 70%;
  text-align: center;
  margin: auto;
}
.slot-machine-container span {
  font-size: 5vw;
  padding: 50px;
}

.slot-machine-btn-container {
  text-align: center;
  float: right;
}
