.slot-machine-container {
  border: 2px solid black !important;
  padding: 50px;
  width: 70%;
  margin: auto;
}
.slot-machine-container span {
  font-size: 3vw;
  padding: 50px;
}

.slot-machine-btn-container{
    text-align: center;
    float: right;
}